@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
.title {
  position: absolute;
  left: calc(50% - 550px);
  font-size: 26px;
  font-weight: bold;
  width: 1100px;
  border-bottom: 3px solid #58c179;
  padding-bottom: 15px;
  padding-left: 20px;
}
.gap {
  height: 80px;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #58c179;
  --secondary-color: #57b894;
  --black: #000000;
  --white: #ffffff;
  --gray: #efefef;
  --gray-2: #757575;

  --facebook-color: #4267b2;
  --google-color: #db4437;
  --twitter-color: #1da1f2;
  --insta-color: #e1306c;
}
