.JobCompanyImg {
  max-width: 200px;
  max-height: 200px;
  margin-top: 20px;
}

.JobDetail {
  max-width: 1100px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 17px;
}

.JobDetailsBasicInfo {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin: 0 auto;
  justify-content: start;
  gap: 170px;
  padding-left: 20px;
}

.JobNDetailsCondi {
  padding: 18px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: all 0.1s;
  max-width: 550px;
  flex: 2;
  line-height: 35px;
}
.JobDetailKey {
  display: flex;
}
.JobDetailKey > p {
  width: 90px;
  margin-right: 20px;
}
.JobDetailsImg {
  max-width: 400px;
  max-height: 400px;
  flex: 1;
}
.JobDetailsdescription {
  margin-top: 40px;
  margin-bottom: 40px;
}

hr {
  margin-top: 40px;
  border: 0;
  height: 3px;
  background-color: #58c179;
}
.JobDetailKey > span {
  word-break: break-all;
  width: 500px;
}
pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}
