.QuickMenu {
  /* background-color: #58c179; */
  margin-top: 60px;
  display: flex;
  width: 100%;
  height: 500px;
  gap: 60px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 600px;
}

.introduce1 {
  /* flex: 2; */
  max-width: 850px;
  /* margin-left: 50px; */
}
.introduce1 > .AI_search {
  width: 750px;
  margin-left: 30px;
  margin-top: 100px;
}
.introduce1 > .jobNoticeIntroduce {
  margin-top: 60px;
}
.introduce2 {
  /* flex: 1; */
  /* background-color: blue; */
  margin-left: 0px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.banner {
  background-image: url(../../assets/banner.jpg);
  width: 600px;
  height: 342px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin-top: 100px;
}
.introduce2 > .legalAdvice_introduce {
  width: 400px;
  height: 200px;
  background-size: contain;
  background-image: url("src/assets/legalAdvice_ex.png");
  background-repeat: no-repeat;
}
